<style>
    
    .navbar {
        background-color: #283618;
        padding: 10px 0;
        color: white;
    }

    .nav-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu-items {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
    }

        .menu-items a {
            color: white;
            text-decoration: none;
            margin-right: 40px; 
        }
</style>

<nav>
    <div class="navbar">
        <div class="container nav-container">
            <div class="menu-items">
                <AuthorizeView>
                    <Authorized>
                        <NavLink href="/">Home</NavLink>
                       
                            <NavLink href="/green-space-details">Green Space Details</NavLink>
                        <NavLink href="/searchresults">Search Results</NavLink>
                            <NavLink href="/about-us">About Us</NavLink>
                        <NavLink href="/identity/account/logout">Logout @context.User.Identity.Name</NavLink>
                        </Authorized>
                        <NotAuthorized>
                            <NavLink href="/identity/account/login">Account</NavLink>
                        </NotAuthorized>
                    </AuthorizeView>
                </div>
            </div>
        </div>
    </nav>

    @code {
    private bool showMenu = false;

    private void ToggleMenu()
    {
        showMenu = !showMenu;
    }
}
